.import-link-box {
  display: flex;
  width: 100%;
  padding: 5px 40px;
  margin: 8px 0;
}

.import-link-box__input-box {
  background: #eff3f80F;
  display: flex;
  width: 100%;
}

.import-link-box__input-box__logo {
  width: 115px;
  height: 30px;
}

.import-link-box__input-box__input {
  color: #eff3f8;
  border: none;
  padding: 0 10px;
  background: none;
  width: 100%;
}

  .import-link-box__input-box__input::placeholder {
    color: #eff3f8;
    opacity: 0.2;
  }

.import-link-box__submit-btn {
  background: #043ea7; /*#6689bf;*/
  color: #eff3f8;
  margin: 0 10px;
  padding: 0 10px;
  width: 200px;
  border: none;
}

  .import-link-box__submit-btn:disabled {
    background: #bac1d8;
  }

  .import-link-box__submit-btn:enabled:hover {
    background: #010a4b;
  }
