@media (max-width: 767px) {
  /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
  .body-content {
    padding-top: 50px;
    height: 100%;
  }
}

.container-fluid {
  padding-top: 20px;
}

.background {
  height: 100%;
  background: url(../assets/images/backgrounds/city-blured.jpg);
  background-size: cover;
}

.body-content, router-outlet {
  height: 100%;
}
